@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";

    var TodoItems = Model.Items.OrderBy(x => x.Importance);
    if (Model.OrderByRank)
    {
        TodoItems = Model.Items.OrderBy(x => x.Importance).ThenBy(x => x.Rank);
    }
}

    <script type="text/javascript">
            function GetGravatarPrfile(emailHash, itemId) {
                var serviceURL = "https://www.gravatar.com/" + emailHash + ".json";

                $.ajax({
                    dataType: "jsonp",
                    type: "GET",
                    url: serviceURL,
                    success: successFunc
                });

                function successFunc(data, status) {
                    try {
                        $('#' + itemId + ' .name').html(data.entry[0].displayName);
                        $('#' + itemId + ' .image').attr('src', data.entry[0].photos[0].value);
                    }
                    catch (err) {
                        $('#' + itemId + ' .name').html('');
                        $('#' + itemId + ' .image').attr('src', '');
                    }
                }
        };
    </script>

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>

            <a asp-action="Detail" class="btn btn-default pull-right" asp-route-todoListId="@Model.TodoListId" asp-route-displayDoneItems="@(!Model.DisplayDoneItems)" asp-route-orderByRank="@(Model.OrderByRank)">@(Model.DisplayDoneItems ? "Hide Done Items" : "Show all")</a>
            <a asp-action="Detail" class="btn btn-default pull-right" asp-route-todoListId="@Model.TodoListId" asp-route-displayDoneItems="@(Model.DisplayDoneItems)" asp-route-orderByRank="@(!Model.OrderByRank)">@(Model.OrderByRank ? "Order By Input" : "Order By Rank")</a>
        </li>

        @foreach (var item in TodoItems)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li class="list-group-item @contextualClass">
                
                <div class="row">
                    <div class="col-md-7">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-5 text-right">
                        <medium>
                            <script type='text/javascript'>
                                GetGravatarPrfile('@Gravatar.GetHash(item.ResponsibleParty.Email)', '@item.TodoItemId')
                            </script>

                            <div id="@item.TodoItemId">
                                <div class="name"></div>
                                <div class="emailAddress">@item.ResponsibleParty.UserName</div>
                                <img height="40" class="image" src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />
                            </div>

                        </medium>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>